/*Zoller Header CSS */

.fsf-zoller-textanimation {
    position: relative;
    margin-bottom:150px;
}

.fsf-zoller-textanimation .header-image {
    background-color: grey;
    background-image: none;

    /* Set a specific height */
    height: calc(100vh - 142px);

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.fsf-zoller-textanimation .header-text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
    max-width: 30%;
}

.fsf-zoller-textanimation .header-animation {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 69%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 100%;
    max-width: 30%;
}

.fsf-zoller-textanimation .header-text h1 {
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.fsf-zoller-textanimation .header-text h3 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 30px;
}

.fsf-zoller-textanimation .scrolldown-image {
    max-width: 90px;
}

.fsf-zoller-textanimation .animation-placeholder {
    width: auto;
    height: auto;
    max-height: 440px;
    display: block;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .fsf-zoller-textanimation {
        position: relative;
        margin-bottom:30px;
    }

    .fsf-zoller-textanimation .header-text h1 {
        font-size: 36px;
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .fsf-zoller-textanimation .header-text h3 {
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    .fsf-zoller-textanimation .header-image {
        padding: 40px 20px;
        height: 100%;
    }

    .fsf-zoller-textanimation .animation-placeholder {
        width: auto;
        height: auto;
        max-height: 300px;
        display: block;
        margin: 0 auto;
    }

    .fsf-zoller-textanimation .header-text {
        position: relative;
        top: inherit;
        transform: inherit;
        max-width: inherit;
        left: inherit;
    }

    .fsf-zoller-textanimation .header-animation {
        position: relative;
        top: inherit;
        transform: inherit;
        max-width: inherit;
        left: inherit;
        margin-bottom: 40px;
    }
}

/*html 5 animation*/
#canvas-textanimation {
    display: block;
    margin: 5vh auto;
    border-radius: 50%;
    box-shadow: 0 5px 14px black;
    width: 400px;
    height: 400px;
}

@media (max-width: 1200px) {
    #canvas-textanimation {
        display: block;
        margin: 5vh auto;
        border-radius: 50%;
        box-shadow: 0 5px 14px black;
        width: 280px;
        height: 280px;
    }  
}
