<div class="fsf-zoller-textanimation">
    <div
        class="header-image"
        style="
            background-image: url(/uploads/tx_fsfzollerheader/{settings.img1});
        "
        fsf-zoller-header
    >
        <div class="header-text">
            <f:if condition="{settings.headline}">
                <h1>{settings.headline}</h1>
            </f:if>
            <f:if condition="{settings.text}">
                <h3><f:format.html>{settings.text}</f:format.html></h3>
            </f:if>
            <f:if condition="{settings.buttontext1}">
                <f:link.typolink parameter="{settings.url1}" target="_blank">
                    <button class="btn btn-yellow">{settings.buttontext1}</button>
                </f:link.typolink>
            </f:if>  
        </div>
    </div>
    <div class="scrolldown-button next-viewport-down">
        <img
            class="scrolldown-image"
            src="/typo3conf/ext/bootstrap_package/Resources/Public/Icons/black/arrow-down.svg"
            title=""
            alt=""
        />
    </div>
</div>
