<div class="fsf-zoller-textanimation {f:if(condition: '{settings.marginbottom} == 1', then: 'fsf-zoller-textanimation-margin-bottom', else: '')}">
    <div
        class="header-image"
        style="
            background-image: url(/uploads/tx_fsfzollertextanimation/{settings.img1});
        "
    >
        <div class="header-animation">
            <f:if condition="{settings.animation}">
                <f:then>

                    <canvas id="canvas-textanimation" width="300" height="300"></canvas>
                    <f:format.htmlentitiesDecode>
                        <script>
                            {settings.animation}
                        </script>
                    </f:format.htmlentitiesDecode>
                </f:then>
                <f:else>
                    <f:if condition="{settings.img2}">
                        <f:image
                            class="animation-placeholder"
                            src="/uploads/tx_fsfzollertextanimation/{settings.img2}"
                        />
                    </f:if>
                </f:else>
            </f:if>
        </div>
        <div class="header-text">
            <f:if condition="{settings.headline}">
                <h2>{settings.headline}</h2>
            </f:if>
            <f:if condition="{settings.text}">
                <h3><f:format.html>{settings.text}</f:format.html></h3>
            </f:if>
            <f:if condition="{settings.buttontext1}">
                <f:link.typolink parameter="{settings.url1}">
                    <button class="btn btn-yellow">
                        {settings.buttontext1}
                    </button>
                </f:link.typolink>
            </f:if>
        </div>
    </div>
</div>
